@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');

body {
     display:flex;
     background-color: rgb(85, 72, 72);
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
    height: 1700px; 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
    margin-top:135px;
}
.mobile {
    display: none;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100vh;
}
.grupo {
    display: flex;
    justify-content: space-between;
   width: 900px;
   height:100vh;
   flex-wrap: wrap;
   
}
.caixa {
    position: relative;
    bottom: 140px;
    border-radius: 3px;
    width: 250px;
    height: 500px;
    background-color: #212121;
    box-shadow: 0px 0px 15px 1px;
    margin-top: 10%;
}
.caixa::before {
    content:"da um espaço ai";
    position: absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    background-color:#212121;
    z-index: -1;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5)
}
.caixa::after {
    content:"da um espaço ai";
    position: absolute;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    background-color:#212121;
    z-index: -1;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4)
}
.caixa-imagem {
    width: 100%;
    height: 180px;
}
.caixa-imagem img {
    border-radius: 3px;
    object-fit: cover;  
    width:100%;
    height: 100%;
}
.caixa-content {
    padding: 10px 15px;
}
.caixa-content h4 {
    margin: 0;
    color: white;
    font-weight: 400;
    text-align: center;
}
.caixa-content p {
    margin: 10px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    line-height: 26px;
    justify-content: center;
}
.caixa-btn {
    display: flex;
    justify-content: space-between; 
    padding:12px 65px ;
    color: #f4511e;
    position: relative;
   


}
.caixa-btn a {
    text-decoration: none;
    color: white;
    background-color: #f4511e;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 12px;
    margin-left: 15px;
   
}
.negrito {
    font-weight: 600;
    color: grey
}
.lista {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.menu {
    position: absolute;
    bottom: 550px;
    left: 300px;
}
.menu li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.menu li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
}
.menu li a:hover {
    border-bottom: 3px solid white;
    color: black;
}
.harumaki {
    position: relative;
    bottom: 30px;
}
.ym {
    position: relative;
    bottom: -40px;
}
.yg {
    position: relative;
    bottom: -22px;
}
.fx {
    position: relative;
    bottom: -40px;
}
.th {
    position: relative;
    bottom: -70px;
}
.gz {
    position: relative;
    bottom: -150px;
}
.sj {
    position: relative;
    bottom: -180px;
}
.hr{
    position: relative;
    bottom: -155px;
}
.bs{
    position: relative;
    bottom: -130px;
}
.fa {
    display: none;
}

/* RESPONSIVO */

@media only screen and (max-width:480px) { 
    .mobile  {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    
    }
    .mobile a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 123%;
        font-weight: 600;
        position: relative;
        bottom: 90px;
        left: 141px;
    }

    nav {
        display: none;
        
    }  
    .grupo {
        position: relative;
        top: 90px;
        left: -27px;
    }
    
    .menu {
        position: relative;
        bottom: 400px;
        display: none;
        left: -5px;
       margin-bottom: -30px;
        
    }
    .mobile-icon {
        display: inline-block;
        color: #ffffff;
        float: right;
        font-size: 30px;
        margin-top: 10px;
        margin-right: 20px;
        position: fixed;
        bottom: 650px;
        left: 310px;

    }
        
    }
    @media only screen and (width:411px) and (height:731px) { 
        .mobile a {
            font-size: 22px;
            position: relative;
            bottom: 90px;
            left: 148px;
        }
        .grupo {
            position: relative;
            top: 100px;
            left: -18px;
            height: 100vh;
        }
        .mobile-icon {
            display: inline-block;
            color: #ffffff;
            float: right;
            font-size: 30px;
            margin-top: 10px;
            margin-right: 20px;
            position: fixed;
            bottom: 800px;
            left: 340px;
    
        }
        .menu {
            position: absolute;
            bottom: 430px;
            display: none;
        }

        

    }
    @media only screen and (width:411px) and (height:823px) { 
        .mobile a {
            font-size: 24px;
            position: relative;
            left: 151px;
        }
        .grupo {
            position: relative;
            top: 110px;
            left: -27px
        }
        .mobile-icon {
            display: inline-block;
            color: #ffffff;
            float: right;
            font-size: 30px;
            margin-top: 10px;
            margin-right: 20px;
            position: fixed;
            bottom: 900px;
            left: 340px;
    
        }
        .menu {
            position: relative;
            bottom: 400px;
            display: none;
            left: -5px;
        }

    }
    @media only screen and (width:320px) and (height:568px) { 
        .grupo {
            position: relative;
            top: 92px;
            left: -38px;
        }
        .mobile a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 137%;
            font-weight: 600;
            position: relative;
            bottom: 90px;
            left: 131px;
        }
        
        .mobile-icon {
            bottom: 560px;
            position: fixed;
            right: 20px;

           
        }
        .menu {
        position: relative;
        bottom: 400px;
        display: none;
        left: -5px;
        margin-bottom: -30px;
        
        }

    }
    @media only screen and (width:414px) and (height:736px) { 
        .mobile a {
            font-size: 23px;

        }
        .mobile-icon {
            bottom: 710px;
            position: fixed;
            right: 20px;
        }
        .grupo{
            position: relative;
            top: 100px;
            left: -24px
        }
    }
    @media only screen and (width:375px) and (height:812px) { 
        .mobile a {
            font-size: 22px;
            position: relative;
            left: 128px;

        }
        .mobile-icon {
            position: fixed;
            top: 10px;
        }
        .grupo {
    position: relative;
    top: 110px;
    left: -39px;
}

    }
    @media only screen and (width:768px) and (height:1024px) { 
        .mobile {
            display: inline-block;
        }
        .mobile a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 180%;
            font-weight: 600;
            position: relative;
            bottom: 90px;
            left: 250px;
            }
        .grupo {
            position: relative;
            top: 100px;
            left: -80px;
        }
        .menu {
            position: relative;
            bottom: 500px;
            display: none;
        }
        .mobile-icon {
            display: inline-block;
            color: #ffffff;
            float: right;
            font-size: 30px;
            margin-top: 10px;
            margin-right: 20px;
            position: fixed;
            bottom: 900px;
            left: 640px;
    
        }
    }
    @media only screen and (width:1024px) and (height:1366px) { 
        .mobile {
            display: inline-block;
        }
        .mobile a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 230%;
            font-weight: 600;
            position: relative;
            bottom: 90px;
            left: 250px;
            }
        .grupo {
            position: relative;
            top: 100px;
            left: -130px;
        }
        .menu {
            position: relative;
            bottom: 700px;
            display: none;
            font-size:22px;
        }
        .mobile-icon {
            display: inline-block;
            color: #ffffff;
            float: right;
            font-size: 30px;
            margin-top: 10px;
            margin-right: 20px;
            position: fixed;
            bottom: 1200px;
            left: 880px;
    
        }
    }
    @media only screen and (width:450px) and (height:600px) {
        .mobile a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 123%;
            font-weight: 600;
            position: relative;
            bottom: 90px;
            left: 162px;
        }
        .grupo {
            position: relative;
            top: 90px;
            left: 7px;
        } 

    }
    @media only screen and (width:280px) and (height:653px) {
        .mobile a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 123%;
            font-weight: 600;
            position: relative;
            bottom: 90px;
            left: 118px;
        }
        .grupo {
            position: relative;
            top: 90px;
            left: -50px;
        }

    }




