@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    display:flex;
    background-color: rgb(85, 72, 72);
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
    height: auto; 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
    margin-top:135px;
    
}
nav {
    width: 700px;
    font-size: 18px;
}
.main-content {
    width: auto;
    position: fixed;
}
.main-nav {
    float: right;
    margin-top: 60px;
   
}
.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    bottom: 950px;
    text-align: center;
    right: -350px;
}
.main-nav li a:hover {
    border-bottom: 3px solid white;
    color: black;

}
.titulo {
    display: none;
}
.intro img{
    background-color: #ddd;
    border-radius: 100%;
    height: 300px;
    object-fit: cover;
    width: 320px;  
    margin-left: 15%;
    box-shadow: 4px 15px 40px black;
    position: relative;
    bottom: 800px;
    left: -910px;
    z-index: 20;
}


.intro a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    position: relative;
    margin-left: 70px;
    
}
.intro a:hover{
    color: #000000;
    font-size: 30px;
}
.social-links {
    position: relative;
    bottom: 740px;
    right: 1880px;
    
}
.social-links p {
    position: relative;
    bottom: 300px;
    color: #ffffff;
    text-align: justify;
    font-weight: 500;
}
.social-links a{
    font-size: 40px;
    
}
.texto {
        width: 589px;
        top: -105px;
        left: 179px;
        font-size: 20px;


}
  
.intro h1 {
    position: relative;
    bottom: 800px;
    right: 800px;
    width: 1000px;
    text-shadow: 10px 10px 10px rgb(54, 54, 54);
    font-size: 40px;  
}
.intro h1:hover {
    color: #ffffff;
    text-shadow: 10px 10px 10px rgb(255, 255, 255);

}
.sobre-nos{
    border-top: 2px solid black 100%;
}

/* RESPONSIVO */

@media only screen and (max-width:480px) { 
    .fa {
        display: none;
    }
    .intro img {
        position: relative;
        height: 200px;
        width: 200px;
        margin-top: 52px;
        margin-left: 153px;
    }
      
    .main-content {
    width: auto;
    position: fixed;
}
.social-links a {
    position: relative;
    bottom: 250px;   
}
.social-links {
    position: relative;
    bottom: 740px;
    right: 1880px;
}
.texto {
    width: 332px;
    top: -34px;
    left: -444px;
    font-size: 16px;
    z-index: 2;
}
.intro h1 {
    z-index: 1;
    position: relative;
    bottom: 677px;
    right: 1186px;
    width: 1000px;
    text-shadow: 10px 10px 10px rgb(54, 54, 54);
    font-size: 30px;
}
.menu {
        position: relative;
        bottom: 400px;
        display: none;
        left: -5px;
       margin-bottom: -30px;
        
    }
    .mobile-icon {
        display: inline-block;
        color: #ffffff;
        float: right;
        font-size: 30px;
        margin-top: 10px;
        margin-right: 20px;
        position: fixed;
        bottom: 2500px;
        left: 310px;
    }
    .main-nav li a {
        display:none;
    
    position: relative;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50%;
    font-weight: 600;
    bottom: 950px;
    text-align: center;
    right: 50px;
}
* {
    display: flex;
    background-color: rgb(85, 72, 72);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-top: 135px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.mobile {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    position: relative;
    bottom: 563px;
}
    .mobile a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 123%;
        font-weight: 600;
        position: relative;
        bottom: 90px;
        left: 141px;
    }

} 
@media only screen and (width:411px) and (height:731px) {
    
    .texto {
    width: 378px;
    top: 24px;
    left: -464px;
    font-size: 16px;
    z-index: 2;
    text-align: center;
    }
    .fa {
        display: none;
    }
    .intro h1 {
    z-index: 1;
    position: relative;
    bottom: 649px;
    right: 1186px;
    width: 1000px;
    text-shadow: 10px 10px 10px rgb(54, 54, 54);
    font-size: 30px;
    }
    .intro img {
    height: 200px;
    width: 200px;
    margin-top: 52px;
    margin-left: 180px;
    }
    .mobile a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 123%;
        font-weight: 600;
        position: relative;
        bottom: 90px;
        left: 176px;
    }
}
    @media only screen and (width:411px) and (height:823px) {
        .fa {
            display: none;
        }
        .intro img {
            position: relative;
            height: 200px;
            width: 200px;
            margin-top: 52px;
            margin-left: 186px;
        }
        .mobile a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 123%;
            font-weight: 600;
            position: relative;
            bottom: 90px;
            left: 175px;
        }
        .texto {
            width: 370px;
            top: 29px;
            left: -464px;
            font-size: 19px;
            z-index: 2;
        }
        .intro h1 {
            z-index: 1;
            position: relative;
            bottom: 649px;
            right: 1202px;
            width: 1000px;
            text-shadow: 10px 10px 10px rgb(54, 54, 54);
            font-size: 32px;
        }
    }
        @media only screen and (width:320px) and (height:568px) {
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 133px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 130px;
            }
            .intro h1 {
                z-index: 1;
                position: relative;
                bottom: 677px;
                right: 1158px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 26px;
            }
            .texto {
                width: 304px;
                top: -34px;
                left: -428px;
                font-size: 13px;
                z-index: 2;
            }

        }
        @media only screen and (width:414px) and (height:736px) {
            .fa {
                display: none;
            }
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 172px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 127%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 165px;
            }
            .texto {
                width: 372px;
                top: -20px;
                left: -458px;
                font-size: 19px;
                z-index: 2;
            }
            
        }
        @media only screen and (width:375px) and (height:812px) {
            .texto {
                width: 340px;
                top: 13px;
                left: -438px;
                font-size: 18px;
                z-index: 2;
            }
            .intro h1 {
                z-index: 1;
                position: relative;
                bottom: 657px;
                right: 1186px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 32px;
            }

        }
        @media only screen and (width:375px) and (height:667px) {
            .texto {
                width: 332px;
                top: -34px;
                left: -436px;
                font-size: 16px;
                z-index: 2;
            }

        }
        @media only screen and (width:768px) and (height:1024px) {
            .mobile a {
                display: none;
            }
            .mobile-icon {
                display: none;
            }
            nav {
                position: relative;
                left: -280px
            }
            .texto {
                width: 658px;
                top: 181px;
                left: -235px;
                font-size: 27px;
                z-index: 200;
            }
            .intro h1 {
                position: relative;
                bottom: 357px;
                right: 1166px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 40px;
            }
            .intro img {
                background-color: #ddd;
                border-radius: 100%;
                height: 300px;
                object-fit: cover;
                width: 320px;
                margin-left: 21%;
                box-shadow: 4px 15px 40px black;
                position: relative;
                bottom: 833px;
                left: -910px;
                z-index: 20;
            }
            .fa {
                display: none;
            }
            .intro h1 {
                z-index: 100;
                position: relative;
                bottom: 512px;
                right: 1291px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 40px;
            }

        }
        @media only screen and (width:1024px) and (height:1366px) { 
            .mobile a {
                display: none;
            }
            .mobile-icon {
                display: none;
            }
            nav {
                position: relative;
                left: -200px;
                font-size: 23px;
            }
            .texto {
                width: 923px;
                top: 212px;
                left: -235px;
                font-size: 36px;
                z-index: 200;
            }
            .intro h1 {
                position: relative;
                bottom: 480px;
                right: 1166px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 40px;
            }
            .intro img {
                background-color: #ddd;
                border-radius: 100%;
                height: 300px;
                object-fit: cover;
                width: 320px;
                margin-left: 23%;
                box-shadow: 4px 15px 40px black;
                position: relative;
                bottom: 833px;
                left: -910px;
                z-index: 20;
            }
            .fa {
                display: none;
            }
            .intro h1 {
                z-index: 100;
                position: relative;
                bottom: 480px;
                right: 1291px;
                width: 1003px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 40px;
            }

        }
        @media only screen and (width:450px) and (height:600px) { 
            .fa {
                display: none;
            }
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 182px;
            }
            .texto {
                width: 390px;
                top: -27px;
                left: -459px;
                font-size: 16px;
                z-index: 2;
            }
            .mobile {
                display: inline-block;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 90%;
                font-weight: 600;
                position: relative;
                bottom: 563px;
                left: 32px;
            }

        }
        @media only screen and (width:280px) and (height:653px) { 
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 113px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 110px;
            }
            .intro h1 {
                z-index: 1;
                position: relative;
                bottom: 677px;
                right: 1148px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 24px;
            }
            .texto {
                width: 271px;
                top: -34px;
                left: -410px;
                font-size: 14px;
                z-index: 2;
            }
        }
        @media only screen and (width:389px) and (height:647px) {
            .texto {
                width: 368px;
                top: -34px;
                left: -444px;
                font-size: 16px;
                z-index: 2;
            }
            
        }
        @media only screen and (width:429px) and (height:647px) {
            .texto {
                width: 407px;
                top: -9px;
                left: -482px;
                font-size: 16px;
                z-index: 2;
            }
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 193px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 183px;
            }


        }
        @media only screen and (width:400px) and (height:647px) {
            .texto {
                width: 345px;
                top: -34px;
                left: -446px;
                font-size: 16px;
                z-index: 2;
            }
            .intro h1 {
                z-index: 1;
                position: relative;
                bottom: 677px;
                right: 1178px;
                width: 1000px;
                text-shadow: 10px 10px 10px rgb(54, 54, 54);
                font-size: 30px;
            }
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 172px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 163px;
            }
        }
        @media only screen and (width:408px) and (height:647px) {
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 177px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 168px;
            }

        }
        @media only screen and (width:418px) and (height:647px) {
            .intro img {
                position: relative;
                height: 200px;
                width: 200px;
                margin-top: 52px;
                margin-left: 185px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 179px;
            }
        }
        @media only screen and (width:476px) and (height:647px) {
            .intro img {
            position: relative;
            height: 200px;
            width: 200px;
            margin-top: 52px;
            margin-left: 219px;
            }
            .mobile a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 123%;
                font-weight: 600;
                position: relative;
                bottom: 90px;
                left: 214px;
            }
        }

